@charset "utf-8"

/* Reset box-model and set borders */
/* ============================================ */

*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */

/**
 * Prevent vertical alignment issues.
 */

svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */

/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */

option {
  padding: 0;
}

/**
 * Reset to invisible
 */

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */

[type="search"] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type="number"] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */

label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */

[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */

/**
1. Correct table border color inheritance in all Chrome and Safari.
*/

table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

  .header-inner {
    width: 1330px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
    align-items: center;
  }
  
  .header-logo img {
    width: 255px;
  }
  
  .header-list {
    width: 800px;
    display: flex;
    justify-content: space-between;
  }

  .header-list li:hover {
    color: #ff0000;
  }
  
  .header-icon {
    font-size: 16px;
    
  }
  
  #kv img {
    width: 100%;
    height: 480px;
    object-fit: cover;
  }
  
  .kv-text {
    position: absolute;
    top: 54%;
    left: 0%;
    right: 0%;
    color: white;
    margin: 0px 50px;
    text-align: center;
  }
  
   .heading span {
    font-size: 16px;
  }
  
  .heading {
    font-size: 42px;
  }
  
  .kv-nav {
    margin: 0px 50px;
    position: relative;
  }
  
  .kv-btn {
    background-color: #ff0000;
    border: 1px solid #ff0000;
    position: absolute;
    bottom: 30px;
    right: 50px;
    border-radius: 5px;
    width: 100px;
    height: 43px;
    padding: 0 5px;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
  }
  
  .container {
    margin-top: 50px;
  }
  
  .title span {
    font-size: 42px;
    color: #ff0000;
    text-align: center;
    display: block;
  }
  
  .lead {
    text-align: center;
    margin: 20px 0px;
  }
  
  .tripgroup {
    margin: 50px 50px 0px;
    display: flex;
    justify-content: space-between;
    width: 1330px;
  }
  
  .tripgroup-menu {
    width: 240px;
  }
  
  .tripgroup-menu img {
    width: 240px;
    height: 150px;
  }
  
  h2 {
    font-size: 20px;
    margin-top: 10px;
  }
  
  .money {
    font-size: 20px;
    color: #ff0000;
    margin-top: 10px;
  }
  
  .tripgroup-menutext {
    margin-top: 10px;
    font-size: 16px;
  }
  
  .tripgroup-nav {
    margin-top: 50px;
    position: relative;
  }
  
  .tripgroup-btn {
    color: #fff;
    background-color: #ff0000;
    border: 1px solid #ff0000;
    border-radius: 5px;
    width: 100px;
    height: 43px;
    padding: 0 5px;
    position: absolute;
    right: 50px;
    top: 30px;
    display: flex;
    align-items: center;
  }
  
  .woled {
    background-color: #e5eff7;
    margin-top: 150px;
    height: 600px;
  }
  
  .title {
    padding: 50px 0px;
    text-align: center;
    font-size: 42px;
  }
  
  .woledmap {
    width: 1350px;
    display: flex;
    position: relative;
  }
  
  .area li {
    height: 24px;
    background-color: #ff0000;
    color: #fff;
    padding: 0px 10px;
  }
  
  .yo-roppa {
    position: absolute;
    top: 120px;
    left: 98px;
  }
  
  .ahurika {
    position: absolute;
    top: 220px;
    left: 60px;
  }
  
  .azia {
    position: absolute;
    top: 170px;
    left: 260px;
  }
  
  .oseania {
    position: absolute;
    top: 310px;
    left: 350px;
  }
  
  .mikuronesia {
    position: absolute;
    top: 180px;
    left: 450px;
  }
  
  .kitaamerika {
    position: absolute;
    top: 130px;
    left: 630px;
  }
  
  .tyuunanbei {
    position: absolute;
    top: 290px;
    left: 760px;
  }
  
  .woledmap img {
    width: 880px;
    margin-left: 50px;
  }
  
  .woled-form {
    margin-left: 100px;
    width: 350px;
  }
  
  dt {
    color: #444;
    margin-bottom: 10px;
  }
  
  dd {
    margin-bottom: 20px;
    color: #a9a9a9;
    font-size: 15px;
  }
  
  select {
    width: 350px;
    height: 40px;
    border: 1px solid #e5eff7;
    background-color: #fff;
  }
  
  .form-seach {
    background-color: #ff0000;
    position: absolute;
    border-radius: 5px;
    height: 40px;
    padding: 0 158px;
    text-align: center;
    color: #fff;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
    line-height: 40px;
  }
  
  input {
    width: 350px;
    height: 40px;
    border: 1px solid #e5eff7;
    background-color: #fff;
  }
  
   .Overseas-travel-diary{
    margin: 0px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: space-between;  
  }
  
  .travelogue {
    display: flex;
    margin-bottom: 30px;
  }
  
  .travelogue img {
    width: 150px;
    height: 150px;
  }
  
  .travelogue-text {
    margin-left: 40px;
    width: 214px;
  }
  
  .travelogue-title {
    font-size: 16px;
    margin-top: 20px;
  }
  
  .travelogue-article {
    font-size: 13px;
    margin-top: 15px;
  }
  
  .staff {
    text-align: right;
    margin-top: 18px;
    font-size: 12px;
  }

  .travelogue-nav {
    margin-top: 50px;
    position: relative;
  }
  
  .travelogue-btn{
    color: #fff;
    background-color: #ff0000;
    border: 1px solid #ff0000;
    border-radius: 5px;
    width: 100px;
    height: 43px;
    padding: 0 5px;
    position: absolute;
    right: 50px;
    bottom: 30px;
    display: flex;
    align-items: center;
  }
  
  footer {
    background-color: #2c3e4a;
  }
  
  .footer-inner {
    margin: 0px 50px;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-left {
    margin-top: 40px;
  }
  
  .footer-logo img{
    width: 200px;
    margin-bottom: 20px;
  }
  
  .footer-form {
    color: #ccc;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .tel {
    color: #ccc;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .e-mail {
    color: #ccc;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .sns1{
    margin-right: 10px;
  }
  
  .sns1 i {
    background-color: #fff;
    width: 43px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    font-size: 20px;
    color: #444;
  }
  
  .footer-nav {
    margin-top: 80px;
  }
  
  .footer-middlelist li {
    color: #7da5bf;
    margin-bottom: 30px;
  }
  
  .footer-right {
    margin-top: 80px;
  }
  
  .footer-rightlist li {
    color: #7da5bf;
    margin-bottom: 30px;
  }

  @media screen and (max-width: 640px){
    body {
      width: 640px;
    }

    .header-inner {
      width: 100%;
      margin: 0px 10px;
    }

    .header-logo img {
      width: 200px;
    }

    .header-list {
      display: none;
    }
    
    .openbtn {
      position: relative;
      background-color: #ff0000;
      cursor: pointer;
      width: 50px;
      height: 50px;
      border-radius: 5px;
    }

    .openbtn span {
      display: inline-block;
      transition: all .4s;
      position: absolute;
      left: 14px;
      height: 2px;
      border-radius: 5px;
      background-color: #fff;
      width: 45%;
    }

    .openbtn span:nth-of-type(1) {
      top: 13px;
    }

    .openbtn span:nth-of-type(2) {
      top: 19px;
    }

    .openbtn span:nth-of-type(3) {
      top: 25px;
    }

    .openbtn span:nth-of-type(3)::after {
      content: "Menu";
      position: absolute;
      top: 5px;
      left: -4px;
      color: #fff;
      font-size: 6px;
      text-transform: uppercase;
    }

    .openbtn.active span:nth-of-type(1) {
      top: 14px;
      left: 18px;
      transform: translateY(6px) rotate(-45deg);
      width: 30%;
  }

   .openbtn.active span:nth-of-type(2) {
    opacity: 0;
  }
  
   .openbtn.active span:nth-of-type(3){
      top: 26px;
      left: 18px;
      transform: translateY(-6px) rotate(45deg);
      width: 30%;
  }
  
   .openbtn.active span:nth-of-type(3)::after {
    content:"Close";
      transform: translateY(0) rotate(-45deg);
    top:5px;
    left:4px;
  }

    .header-icon {
      display: none;
    }

    #kv img {
      width: 640px;
      height: 300px;
    }

    .kv-text {
      margin: 0px 10px;
    }

    .heading span {
      font-size: 20px;
    }

    .heading {
      font-size: 40px;
    }

    .kv-nav {
      right: -50px;
    }

    .title span {
      margin: 0px 10px;
      font-size: 40px;
    }

    .lead {
      margin: 0px 10px;
      font-size: 21px;
    }

    .tripgroup {
      width: 640px;
      margin: 50px 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .tripgroup-menu {
      width: 280px;
      margin-top: 20px;
    }

    .tripgroup-menu img {
      width: 280px;
    }

    h2 {
      font-size: 23px;
    }

    .money {
      font-size: 22px;
    }

    .tripgroup-menutext {
      font-size: 15px;
    }

    .tripgroup-btn {
      height: 60px;
      padding: 0px 200px;
    }

    .title {
      font-size: 40px;
      width: 640px;
      margin: 0px 10px;
    }

    .woled img {
      display: none;
    }

    .area {
      display: none;
    }

    .woled-form {
      width: 640px;
      margin: 0px 100px;
    }

    select {
      width: 450px;
    }

    input {
      width: 450px;
    }

    .form-seach {
      height: 50px;
      padding: 0px 210px;
    }
  }

  {
    "publisher": "kiyo"
  }

